@use "../../../styles/" as *;

.header {
  background: $vanilla;
  width: 100%;
  height: 25vh;
  @include flexCenter;
  .logo {
    margin: 0 2rem;
  }
  .main-heading {
    @extend .normal-heading;
  }
}
